:root {
    --bg-color: rgb(40, 40, 40);
    --text-color: rgb(220, 255, 212);
    --read: limegreen;
    --unread: red;
}

body {
    font-family: 'Itim', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
}


.modal form {
    box-sizing: border-box;
    position: absolute;
    width: calc(min(100vw, 400px));
    aspect-ratio: 1 / 1.25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 5px;
    align-items: center;
    font-size: 1.5rem;
}

form label,
form input[type=text]{
    grid-column: span 2;
}

form input[type=text],
form input[type=number]{
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 10px;
}

form input[type=checkbox] {
    height: 2rem;
}

form button {
    align-self: stretch;
}

.read-label,
.pages-label {
    grid-column: span 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#add-new-button {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, orange, red);
    border: none;
    box-shadow: 0px 0px 5px red;
}

.fa-plus {
    font-size: 2.5rem;
    font-weight: bold;
    margin: .25rem
}