:root {
    --bg-color: rgb(40, 40, 40);
    --bg-modal: rgb(40, 40, 40, .8);
    --bg-color-darker: rgb(30, 30, 30);
    --bgcolor-lighter: rgb(50, 50, 50);
    --text-color: rgb(220, 255, 212);
    --read: limegreen;
    --unread: red;
}

body {
    font-family: 'Itim', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 1rem;
    gap: 2rem;
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-modal);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal form {
    box-sizing: border-box;
    position: absolute;
    width: calc(min(100vw, 400px));
    aspect-ratio: 1 / 1.25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color-darker);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 5px;
    align-items: center;
    font-size: 1.5rem;
    transform-style: preserve-3d;
    z-index: 2;
    box-shadow: 0px 0px 10px 2px var(--bgcolor-lighter);
}

form label,
form input[type=text]{
    grid-column: span 2;
}

form input[type=text],
form input[type=number]{
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
} 

form button {
    background: none;
    border: none;
}

form button:hover {
    position: relative;
    scale: 1.3;
}

form input[type=checkbox] {
    height: 2rem;
}

form button {
    align-self: stretch;
}

.pages-label {
    grid-column: span 1;
}

.read-label{
    display: inline-flex;
    align-items: center;
    justify-self: center;
    font-size: 1.5rem;
    transform: translate(-20px, 0);
}

.read-label .is-read-toggle {
    position: relative;
    cursor: pointer;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.read-label .is-read-toggle::before,
.read-label .is-read-toggle::after {
    content: '';
    display: block;
    margin: 0 7px;
    transition: .25s;
}

.read-label .is-read-toggle::before {
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    background: var(--unread);
}

.read-label .is-read-toggle::after {
    position: absolute;
    top: 50%;
    transform: translate(.1rem, -50%);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background: black;
}

.read-label [type=checkbox]:checked+.is-read-toggle::before {
    background: var(--read);
}

.read-label [type=checkbox]:checked+.is-read-toggle::after {
    transform: translate(calc(3.9rem - 100%), -50%);
}

.read-label [type=checkbox]:active+.is-read-toggle::after {
    width: 2.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.book-card {
    background: var(--bgcolor-lighter);
    width: calc(min(100%, 350px));
    box-sizing: border-box;
    aspect-ratio: 1 / 1.1;
    box-shadow: 0px 0px 10px 2px var(--unread);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto) 1fr;    
}

.read {
    box-shadow: 0px 0px 10px 2px var(--read);
}

.book-card h2,
.book-card label {
    grid-column: span 2;
}

.book-card label {
    margin-top: 20px;
    justify-self: center;
}

.book-card .read-label {
    justify-self: center;
}

.book-card button {
    grid-column: span 2;
    align-self: end;
    padding: 4px;
    background: none;
    border: none;
    position: relative;
}

.book-card button:hover {
    scale: 1.2;
}

.book-card i {
    font-size: 2rem;
}

.fa-trash-can {
    color: red;
}

.fa-pencil {
    color: yellow;
}

#add-new-button {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, orange, red);
    border: none;
    box-shadow: 0px 0px 5px red;
}

.fa-plus {
    font-size: 2.5rem;
    font-weight: bold;
    margin: .25rem
}

.modal .fa-plus {
    color: green;
}

.fa-xmark {
    font-size: 2.5rem;
    color: red;
}